html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #404040;
}

.all{
  width: 100%;
  height: 100%;
  
}

.button {
  background-color: grey;
  color: white;
  border: 3px #404040;
  padding: 2rem;
  width: 400px;
  height: 80px;
  text-align: center;
  border-radius: 12px;
  
}

.containerQuestion {
  color: white;
  font-size: 32px;
  padding: 2rem;
  margin: 35px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 60px;
  margin-top: 160px;

}

.contenedorDeColumnas {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  gap: 10px; 
  padding: 2rem;
  justify-content: center; 
  align-items: center;
}


.rigthAnswer{
  background-color: #4CAF50;
  border: 3px #3E8E41;
  color: white;
}

.wrongAnswer{
  background-color: #F44336;
  border: 3px #D32F2F;
  color: white;
}
